@font-face {
    font-family: SourceSansPro;
    src: url(SourceSansPro-Regular.ttf);
}

.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    font-family: SourceSansPro;
}

.wrapper > *{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.header{
  
    height: 15%;
    width: 60%;
}

.header h1{
    color: #0087C3;
    text-align: left;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.4em;
    line-height: 1em;
    font-weight: bold;
    margin: 0  0 10px 0;
}

.header p{
    text-align: left;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555555;
    font-family: SourceSansPro;
}

.main{
    text-align: left;
    height: 30%;
    width: 60%;
}

.p{
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555555;
    font-family: SourceSansPro;
}

.pSmaller{
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: #555555;
    font-family: SourceSansPro;
}

#detail {
    padding-left: 6px;
    border-left: 6px solid #0087C3;
}

.detalleTexto{
    color: #0087C3;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    font-weight: bold;
}

#rightDetail{
    padding-right: 6px;
    border-right: 6px solid #0087C3;
    float: right;
    text-align: right;
}

.margen{
    padding-top:-35px; 
    margin-left:220px;
}

.main2{
    float: right;
    height: 15%;
    width: 70%;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #555555;
    font-family: SourceSansPro;
}

.aside1{
    float: right;
    text-align: right;
    height: 15%;
    width: 30%;
}

.aside1 p{
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555555;
    font-family: SourceSansPro;
}

.aside2{
    
    float: right;
    text-align: right;
    height: 30%;
    width: 30%;
}

.photo{
    
    width: 30%;
    height: 15%;
}

.line{  
    float: right;
    text-align: right;
    height: 14%;
    width: 4%;
    border-right: 1px solid #AAAAAA;
    
}

footer {
    color: #777777;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #AAAAAA;
    padding: 8px 0;
    text-align: center;
  }